.container1 {
    font-size: 20px;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos uniformemente a lo largo del contenedor */
    text-align: center; 
    width: 80%; 
    margin: 0 auto;
}

.container1.columna1 {
    
    font-size: 30px;
    width: 50%;
    text-align: right;
    margin-left: 10%;
}

.columna{
    font-size: 25px;
    width: 80%;
}

.tamaño{
    font-size: 30px;
}


:root{
    --wp--preset--font-size--normal: 30px;
    --wp--preset--font-size--huge: 30px;
}

h1{
    text-align: center;
}

.container1 > div,
.container1 >div >div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columna.columna > div,
.columna.columna >div > div{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.carousel-inner{
    height: 500px;
}


.carousel-inner image{
    object-fit: contain;
    width: 100%;
    height: 100%;
}


.imagen-normal{
    width: 300px;
    height:200px;}



.container2{
        font-size: 20px;
        display: flex;
        justify-content: space-between; /* Distribuye los elementos uniformemente a lo largo del contenedor */
        text-align: center; 
        width: 80%; 
        margin: 0 auto;
}    