<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>R & O Ecological Service E.J.R.l</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/LOGO _OFICIAL.png" type="../static/images/LOGO_OFICIAL"/>
    <link rel="apple-touch-icon" href="../static/images/LOGO _OFICIAL.png">
    
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet"> 

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="../static/css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="../static/css/colors.css" rel="stylesheet">

    <!-- Version Garden CSS for this template -->
    <link href="../static/css/version/garden.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div id="wrapper">
        <div class="collapse top-search" id="collapseExample">
            <div class="card card-block">
                <div class="newsletter-widget text-center">
                    <form class="form-inline">
                        <input type="text" class="form-control" placeholder="What you are looking for?">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </form>
                </div><!-- end newsletter -->
            </div>
        </div><!-- end top-search -->

        <div class="topbar-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 hidden-xs-down">
                        <div class="topsocial">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="whatsApp"><i class="fa fa-whatsapp"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Flickr"><i class="fa fa-flickr"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                        </div><!-- end social -->
                    </div><!-- end col -->

                    <div class="col-lg-4 hidden-md-down">
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="topsearch text-right">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-search"></i>Buscar</a>
                        </div><!-- end search -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end header-logo -->
        </div><!-- end topbar -->
        <header class="header" style="display: flex; align-items: center; margin: 0.7%;">
            <div style="width: 18%;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="logo">
                                <a href="index.html"><img src="images/LOGO _OFICIAL.png" alt=""></a>
                            </div><!-- end logo -->
                        </div>
                    </div><!-- end row -->
                </div><!-- end header-logo -->
            </div><!-- end header-section -->
            <div class="container">
                <nav class="navbar navbar-inverse navbar-toggleable-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ForestTimemenu" aria-controls="ForestTimemenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="ForestTimemenu">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="garden-index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="garden-category.html">Nuestro medio ambiente</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="garden-punto verde.html">Punto verde</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="garden-producto.html">Producto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="garden-galeria.html">Galeria Fotografica</a>
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="garden-contact.html">Contactanos</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="80">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="image-container">
                <img src="images/Fondo de tierra confundida.jpg" alt="center" class="img-fluid">
            </div>
        </div>
        <footer class="footer">
            <div class="container">-
                <div class="row">
                    <div class="col-lg-4">
                        <div class="widget">
                            <div class="footer-text text-left">
                                <a href="index.html"><img src="images/LOGO OFICIAL _1.png" alt="" class="img-fluid"></a>
                                <br><br>
                                <h4 style="color: white;">Redes Sociales</h4>
                                <div class="social">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>              
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="WhatsApp"><i class="fa fa-whatsapp"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget">
                            <div class="footer-text text-center">
                                <h3 style="color: white;">Redes Sociales</h3>
                                <br><br>
                                <div class="social">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>              
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="WhatsApp"><i class="fa fa-whatsapp"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget">
                            <div class="footer-text text-center d-flex align-items-center justify-content-center" style="height: 100%;">
                                <div>
                                    <h3 style="color: white;">Datos de Contacto</h3>
                                    <br><br>
                                    <div style="text-align: left;">
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-map-marker"></i> Dirección: Lima, Perú</a>
                                        <br>              
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Teléfono"><i class="fa fa-phone"></i> Teléfono: 964 037 070</a>
                                        <br>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Teléfono"><i class="fa fa-phone"></i> Teléfono: 937 333 118</a>
                                        <br>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="WhatsApp"> <i class="fa fa-whatsapp"></i> WhatsApp: 964 037 070</a>
                                        <br>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Correo"><i class="fa fa-envelope"></i> Correo Electrónico: wperez@perpal.com.pe</a>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <br><br>
                        <div class="newsletter-widget">
                            <form class="form-inline">
                                <input type="email" class="form-control" placeholder="Ingresa tu dirección de correo electrónico">
                                <button type="submit" class="btn btn-primary">Suscribirse <i class="fa fa-envelope-open-o"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <br><br>
                        <div class="copyright">&copy; Forest Time. Diseño: <a href="http://html.design">HTML Design</a>.</div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>