<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>R & O Ecological Service E.J.R.l</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/LOGO_OFICIAL.png" type="../static/images/LOGO_OFICIAL"/>
    <link rel="apple-touch-icon" href="../static/images/LOGO_OFICIAL.png">
    
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet"> 

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="../static/css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="../static/css/colors.css" rel="stylesheet">

    <!-- Version Garden CSS for this template -->
    <link href="../static/css/version/garden.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div id="wrapper">
        <div class="collapse top-search" id="collapseExample">
            <div class="card card-block">
                <div class="newsletter-widget text-center">
                    <form class="form-inline">
                        <input type="text" class="form-control" placeholder="What you are looking for?">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </form>
                </div><!-- end newsletter -->
            </div>
        </div><!-- end top-search -->

        <div class="topbar-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 hidden-xs-down">
                        <div class="topsocial">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="whatsApp"><i class="fa fa-whatsapp"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Flickr"><i class="fa fa-flickr"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                        </div><!-- end social -->
                    </div><!-- end col -->

                    <div class="col-lg-4 hidden-md-down">
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="topsearch text-right">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-search"></i>Buscar</a>
                        </div><!-- end search -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end header-logo -->
        </div><!-- end topbar -->
        <header class="header" style="display: flex; align-items: center; margin: 0.7%;">
            <div style="width: 18%;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="logo">
                                <a href="index.html"><img src="../static/images/LOGO _OFICIAL.png" alt=""></a>
                            </div><!-- end logo -->
                        </div>
                    </div><!-- end row -->
                </div><!-- end header-logo -->
            </div><!-- end header-section -->
            <div class="container">
                <nav class="navbar navbar-inverse navbar-toggleable-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ForestTimemenu" aria-controls="ForestTimemenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="ForestTimemenu">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="{{url_for('principal')}}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="{{url_for('categoria')}}">Nuestro medio ambiente</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="{{url_for('puntoverde')}}">Punto verde</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="{{url_for('mostrar')}}">Producto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="{{url_for('galeria')}}">Galeria Fotografica</a>
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="{{url_for('contactos')}}">Contactanos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="{{url_for('registrar')}}">Registrar</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div><!-- end container -->
        </header><!-- end header -->
                 
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="500">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner carousel-inner-custom" style="height: 520px;">
                <div class="carousel-item active">
                    <img src="../static/images/Recogen-150-mil-toneladas-de-desechos-en-el-puerto.png" class="d-block w-100" alt="Imagen 1">
                </div>
                <div class="carousel-item">
                    <img src="../static/images/tratamiento-de-los-residuos-peligrosos-primera.jpeg" class="d-block w-100" alt="Imagen 2">
                </div>
                <div class="carousel-item">
                    <img src="../static/carusel/pexels-pixabay-36717.jpg" class="d-block w-100" alt="Imagen 3">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
        <br>
        <div style="display: flex; text-align: center; width: 80%; margin: 0 auto;">
            <h1 style="font-size: 30px;">
                <span style="color:rgb(82, 172, 47);">¿QUÉ HACEMOS?</span>
                <br>
                Tenemos pasión por 
                la protección de sus 
                inversiones, 
                asegurar su negocio, 
                instalaciones, lugar 
                del proyecto, para  
                que estén seguros y 
                cumplan conforme a 
                la ley local o estatal. 
                Así mismo 
                implementamos 
                sistemas de 
                seguridad y salud 
                ocupacional.
            </h1>
        </div>         
            <br> 
            <div class="container1">
             <div>
                 <h1 class="columna1" style="color:rgb(82, 172, 47);">
                     Instalaciones
                 </h1>
                 <h1 class="columna">
                     Te ayudamos a cuidar el medio ambiente, proteger a su gente e instalaciones al cuidado del medio ambiente. 
                 </h1>
             </div>
             <br>
             <br> 
             <div>
                 <h1 class="columna1" style="color:rgb(82, 172, 47);">
                     Instalaciones
                 </h1>
                 <h1 class="columna">
                     Te ayudamos a cuidar el medio ambiente, proteger a su gente e instalaciones al cuidado del medio ambiente. 
                 </h1>
             </div> 
         </div>
         <br>
         <br>
           <div class="container1">
             <div>
                 <h1 class="columna1" style="color:rgb(82, 172, 47);">
                    Servicio de recojo
                 </h1>
                 <h1 class="columna">
                     Te ayudamos a cuidar el medio ambiente, proteger a su gente e instalaciones al cuidado del medio ambiente. 
                 </h1>
             </div>
             <br>
             <br> 
             <div>
                 <h1 class="columna1" style="color:rgb(82, 172, 47);">
                     Instalaciones
                 </h1>
                 <h1 class="columna">
                     Te ayudamos a cuidar el medio ambiente, proteger a su gente e instalaciones al cuidado del medio ambiente. 
                 </h1>
             </div> 
         </div>
        <br>
        <br>          
        
           <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="widget">
                            <div class="footer-text text-left">
                                <a href="index.html"><img src="../static/images/LOGO OFICIAL _1.png" alt="" class="img-fluid"></a>
                                <br><br>
                                <h4 style="color: white;">Redes Sociales</h4>
                                <div class="social">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>              
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="WhatsApp"><i class="fa fa-whatsapp"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
            
                    <div class="col-lg-4">
                        <div class="widget">
                            <div class="footer-text text-center">
                                <h3 style="color: white;">Redes Sociales</h3>
                                <br><br>
                                <div class="social">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>              
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="WhatsApp"><i class="fa fa-whatsapp"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
            
                    <div class="col-lg-4">
                        <div class="widget">
                            <div class="footer-text text-center d-flex align-items-center justify-content-center" style="height: 100%;">
                                <div>
                                    <h3 style="color: white;">Datos de Contacto</h3>
                                    <br><br>
                                    <div style="text-align: left;">
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-map-marker"></i> Dirección: Lima, Perú</a>
                                        <br>              
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Teléfono"><i class="fa fa-phone"></i> Teléfono: 993 313 415</a>
                                        <br>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="WhatsApp"><i class="fa fa-whatsapp"></i>WhatsApp: 993 313 415</a>
                                        <br>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Correo"><i class="fa fa-envelope"></i>                           Correo Electrónico:fmelendez@ro-ecoserv.com</a>
                                        <br>
                                    </div>
                                </div>
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div>
                </div><!-- end row -->
            
                <div class="row">
                    <div class="col-md-12 text-center">
                        <br><br>
                        <div class="newsletter-widget">
                            <form class="form-inline">
                                <input type="email" class="form-control" placeholder="Ingresa tu dirección de correo electrónico">
                                <button type="submit" class="btn btn-primary">Suscribirse <i class="fa fa-envelope-open-o"></i></button>
                            </form>
                        </div><!-- end newsletter -->
                    </div><!-- end col -->
                </div><!-- end row -->
            
                <div class="row">
                    <div class="col-md-12 text-center">
                        <br><br>
                        <div class="copyright">&copy; Forest Time. Diseño: <a href="http://html.design">HTML Design</a>.</div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end footer -->
              
    <!-- Core JavaScript
    ================================================== -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/tether.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>











































